*{
    font-family: "Inter", sans-serif;
}
/* Mobile First */
.container{
width: 100%;
margin: auto;

}

/* Dekstop View */
@media (min-width: 1024px) {
    .container{
        width: 70%;
        margin: auto;
        
    }
    
}

.navbar .btn {
   background: #fff;
   border: none;
}
.navbar .menu li:hover a {
background: #fff;
border: none;
color: blue;

}
.icon{
    position: relative;
}

.icon i{
    color: #4C36F6;
    position: absolute;
    background: #EEF2FF;
    width:55px;
    height: auto;
    padding: 10px 10px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    top: -40px;
    left: -3px;
}
 .card-title{
    padding-top: 15px;
}
.why-choose-us{
    padding-bottom: 100px;
    height: auto;
   background: #F9FAFB;

}
/* .trendingItems .cardBtngroup{
    display: flex;

} */

.catagoryBadge{
   width: 85%;
   display: flex;
   justify-content: space-between; 

}
.catagoryBadge .ratings{
    padding-left: 20px;
}
.catagoryBadge .ratings span{
    color:#535353;
    font-weight: 600;
    padding-left: 5px;

}
.trendingItems .cardBtn{
    border-radius: 10px;
    width: 48%;
}
.cardBtngroup button:nth-child(2){
    color: #fff;
    background:#4C36F6;
}
.copyright{
    background: #1E2939;
    
}
.mainFooter{
    background: #1E2939;  
    
}
.catagory_badge .badge{
    border: #707070 1px solid;
    padding: 12px;
    border-radius: 50px;

}
.catagory_badge .badge:hover{
    background: #4C36F6;
    color: #fff;
}

.catagory_badge .badge:active{
    background: #4C36F6;
    color: #fff;
}